header {     /*titre*/
    text-align: center;
    background-color: rgba(23, 173, 90, 0.836);
    /*bordure du titre*/
    border: 1px solid black ;
}
table{
    border-collapse: collapse;
}
th, td{
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
}
