body {
    color: rgb(0, 0, 0);
    background-color: #f4f4f4;
}

header {    
    text-align: center;
    color: white;
    background-color: blue;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 16px;
    font-size: 200%;
    font-weight: bold;
}

nav { 
    background: #000000;
}

nav ul { 
    list-style: none; /*enleve les points*/
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content:space-evenly;  /*espace égaux*/
}

nav ul li a { 
    font-weight: bold;  /*txt gras*/
    text-decoration: none; /*sans soulignement */
    display: flex; 
    align-items: center;
    padding: 25px;
    color: white; 
    font-size: 200%;
}

nav a:hover { 
    background: blue; 
}

h1 {
    text-align: center;      /*le titre de page*/
    font-size: 300%;
}

.formulaire{
    text-align: center;
    background-color: white;
}

h2{
    font-size: 30px;
}

input{
    margin-bottom: 20px;
}

footer { 
    margin-top: 50px;
    text-align: center;  
    background: #000000; 
    color: white;
    padding: 20px;
    font-size: 150%;
}

/*sur ecran type tel*/
@media (max-width: 600px) {
    nav ul { 
        display: flex;
        flex-direction: column;
    }
}