body{
    background-color: aqua;
}

header {     
    text-align: center;
    /* bordure du titre */
    border: 1px solid black ;
    background-color: rgba(70, 58, 236, 0.493);
    margin: 2px;        /* espace externe */  
}

.introduction {
    display:flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; /*passe en dessous de phto si on reduit taille ecran*/
}
.introduction img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #004080;
}
.introduction p{
    max-width: 400px;
}
