body {
    color: var(--ct2);
    background-color: var(--fond-page);
}

header {     
    text-align: center;
    color: var(--ct2);
    background-color: var(--titre-fond);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 16px;
    font-weight: bold;
    font-size: 20px;
}

nav { 
    background: var(--nav-fond);
}

nav ul { 
    list-style: none; /*enleve les points*/
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content:space-evenly;  /*espace égaux*/
}

nav ul li a { 
    font-weight: bold;  /*txt gras*/
    text-decoration: none; /*sans soulignement */
    display: flex; 
    align-items: center;
    padding: 25px;  /*espace interieur lien*/
    color: var(--ct2);  /*couleur lien*/
    font-size: 20px;
}

nav a:hover { 
    background: var(--bouton-fond); 
}

h1 {
    text-align: center;      /*le titre de page*/
    font-size: 50px;
}


h2 {
    text-align: center;      
    font-size: 50px;
    color: var(--ct1);
}

/*modif de mes projet*/
.liste{
    background-color: var(--fond-page);
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.liste img{
    width: 180px;
    height: 180px;
}

.liste p{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.liste a{
    color: var(--ct1);
}

.liste a :hover{
    color: rgb(255, 0, 0);
}

.description{
    font-size: 30px;
    color: var(--ct1);
}

footer { 
    text-align: center;  
    background: var(--footer); 
    color: var(--ct2);
    padding: 10px;
    font-size: 20px;
    margin-top: 50px;
}

/*sur tel*/
@media (max-width: 600px) {
    nav ul { 
        display: flex;
        flex-direction: column;
    }
    .liste{
        background-color: var(--ct2);
        padding-top: 50px;
        display: flex;
        flex-direction: column;
    }}

/*sur tablette*/
@media (min-width: 601px) and (max-width: 900px){
    .liste{
        background-color: var(--ct2);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }}