body {
    background-color: rgb(56, 69, 156);
    color: rgb(0, 0, 0);
}
button {
    color: blue;
}
h1 {
    text-align: center;      /*le titre de page*/
    color: rgb(0, 0, 0);
    font-size: 300%;
}

header {     /*titre*/
    text-align: center;
    background-color: rgba(23, 173, 90, 0.836);
    /*bordure du titre*/
    border: 1px solid black ;
}
footer { /*fin*/
    text-align: center;
    background-color: blue;
    color: rgb(255, 255, 255);
}

nav {
    font-size: 150%;

}

a:hover {          /*changer de couleur quand la souris passe sur les liens*/
    color: rgb(240, 0, 0);
}