body {
    color: var(--ct2);
    background-color: var(--fond-page);
}

header {     
    text-align: center;
    color: var(--ct2);
    background-color: var(--titre-fond);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 16px;
    font-weight: bold;
    font-size: 20px;
}

nav { 
    background: var(--nav-fond);
}

nav ul { 
    list-style: none; /*enleve les points*/
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content:space-evenly;  /*espace égaux*/
}

nav ul li a { 
    font-weight: bold;  /*txt gras*/
    text-decoration: none; /*sans soulignement */
    display: flex; 
    align-items: center;
    padding: 25px;  /*espace interieur lien*/
    color: var(--ct2);  /*couleur lien*/
    font-size: 20px;
}

nav a:hover { 
    background: var(--bouton-fond); 
}

h1 {
    text-align: center;      /*le titre de page*/
    font-size: 50px;
}


h2 {
    text-align: center;      
    font-size: 50px;
}
.presentation{
    display: flex;
    align-items: center;
}

.txt {
    text-align: center;
    display: flex;
    flex-direction: column;
    color: var(--ct1);
}

.image img{
    border-radius: 20px;
    border: 2px solid var(--bordure-photo);
    margin: 20px;
}

footer { 
    text-align: center;  
    background: var(--footer); 
    color: var(--ct2);
    padding: 10px;
    font-size: 20px;
}

/*sur ecran téléphone*/
@media (max-width: 600px) {
    nav ul { 
        display: flex;
        flex-direction: column;
    }
    .presentation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;  
    }
    .image img{
        margin-top: 30px;   /*pour laisser de l'espace entre nav et image*/
    }
    .txt{
        text-align: center;
    }
    footer{
        margin-top: 50px;
    }
}