*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100vw;    /*w=width   =largeur*/
    height: 100vh;  /* h=height  =hauteur*/
    display: flex;  /*pour centrer*/
    justify-content:center;  
    align-items:center;  /*align-items:center;*/
    flex-wrap: wrap;
}
.bloc{
    width: 45vw;
    height: 30vh;
    display: flex;
    background-color: orange;
    margin: 1vw;
    padding: 2vw;
    justify-content: center;
    align-items: center;
}