:root{
    /*couleur*/
    --titre-fond:blue;
    --bouton-fond:blue;
    --nav-fond:black;
    --ct1: black; /*couleur texte1*/
    --ct2: white;
    --fond-page:#f4f4f4;
    --footer:black;

    --bordure-photo: #004080;
    --couleur-entrée-tab:#F27059;


    /*police*/
    --police-titre: 'Montserrat', sans-serif;
    --police-texte: 'Roboto', sans-serif;
    --police-bouton: 'Poppins', sans-serif;
    --police-legende: 'Open Sans', sans-serif;
}